@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

body {
    background-color: #073e79;
    font-family: "Exo", sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    background: url("../images/hurling-ball-close-up.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    Min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff8dc;
    font-size: 5.5rem;
}

.uppercase {
    text-transform: uppercase;
}
h1,
h2,
h3,
h4, 
h5{
    font-weight: 400;
    color: #fff8dc;
}

/*--------------------------------------------------navbar */

.fixed-top {
    position: absolute;

}

/*--------------------------------------------------navbar */

/*--------------------------------------------------about me */

.about-me {
    background-color: #073e79;
    text-align: center;
    margin: 0;
    padding: 50px 15px;
    color: #fff8dc;

}

.page-header {
    text-align: center;
    background-color: #073e79;
    margin-bottom: -16px;
    color: #fff8dc;
    justify-content: center;
    margin-top: 14vh;
}


/*--------------------------------------------------about me */

/*--------------------------------------------------gallery*/

.gallery-header {
    text-align: center;
    background-color: #073e79;
    margin-bottom: -16px;
    color: #fff8dc;
    margin-top: 14vh;

}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 4px;
    justify-content: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    padding: 39px 40px;
}

.img-fluid2 {
    max-width: 100%;
    height: auto;
    padding: 39px 40px;
}

/*--------------------------------------------------gallery*/

/*--------------------------------------------------video*/

.video-header {
    text-align: center;
    background-color: #073e79;
    margin-bottom: -16px;
    color: #fff8dc;
    justify-content: center;
    margin-top: 14vh;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 40px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*--------------------------------------------------video*/

/*--------------------------------------------------contact us*/

h5 {
    color: #fff8dc;
}



/*--------------------------------------------------contact us*/

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {

    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #4D6DAE;
}

footer {
    background-color: #073e79;
    color: #fff8dc;
    margin: 0;
}

.general-sub {
    
    font-weight: 300;
    color: #fff8dc;

}
